<div class="container">
  <div class="center-box">
    <div v-cloak data-rate="<%= @current_rate.rate %>" class="current_rate" id="rate_show">
      1$ = {{ rate }}&#8381;
    </div>
  </div>
</div>

<% content_for :after_js do -%>
<script src="https://js.pusher.com/3.2/pusher.min.js"></script>
<script type="text/javascript">


var pusher = new Pusher('95c34856656772134139', {
  cluster: 'eu',
  encrypted: true
});
var channel = pusher.subscribe('rate-updates');

var rate_show = new Vue({
  el: '#rate_show',
  data: {
    rate: '<%= @current_rate.rate %>'
  }
});

channel.bind('rate-updated', function(data) {
  rate_show.rate = data.latest_rate;
  console.log('rate updated to ' + data.latest_rate);
});

</script>
<% end -%>
